<h2>
  Flight results
</h2>
<%= form_with model: @booking, method: :get, url: new_booking_path do |form| %>
  <table class="flight-results">
    <thead>
      <tr>
        <th>Departs from</th>
        <th>Arrives at</th>
        <th>Depart time</th>
        <th>Duration</th>
        <th>Available seats</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      <% if @flights.any? %>
        <% @flights.each do |flight| %>
          <tr>
            <td>
              <%= flight.departure_airport.code %>
            </td>
            <td>
              <%= flight.arrival_airport.code %>
            </td>
            <td>
              <%= flight.depart_time %>
            </td>
            <td>
              <%= Time.at(flight.duration * 60).utc.strftime("%H:%M") %>
            </td>
            <td>
              <%= flight.available_seats %>
            </td>
            <td>
              <%= form.label :flight_id %>
              <%= form.radio_button :flight_id, flight.id %>
              <%= form.hidden_field(:number_of_tickets, value:
              (params[:available_seats] || flight.available_seats)) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">None found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= form.submit "Book Selected Flight" %>
<% end %>
